.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Nav styles */
nav ul{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 40px;
 
}
.nav-tittle{
    font-weight: 800;
    font-size: 28px;
    color: rgb(13, 19, 33);

}
nav ul li {
    list-style: none;
   
}
.btn-primary{
        box-sizing: border-box;
        border: 1px solid rgb(13, 19, 33);
        border-radius: 8px;
        opacity: 0.8;
        padding: 17px 24px;
        font-size: 20px;


}
/* banner related style */

.banner-tittle{
    font-size: 48px;
    font-weight: 800px;
    color: rgb(13, 19, 33);
    margin: 24px 0px;
    vertical-align: middle;

}
.banner-description{
    font-weight:400px;
    font-size: 16px;
    color: rgb(13, 19, 33);
   
}
.btn-secondery{
    border-radius: 8px;
    gap: 10px;
    padding: 21px 24px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);

}
.imag-height{
    width: 340px;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin : 50 px;
    /* gap: 25px; */
    /* padding: 0px ; */
    
    background-image: url(../assets/Hero-bg.png);
    /* background-size: cover ; */
    /* height: 978px; */
    /* background-position: center; */
    
   
}
.banner-content{
    text-align: center;
    /* gap: 25px; */
    /* padding: 300px ; */
    /* align-self: stretch; */
    margin-left: 291px;
    margin-right: 291px;
    margin-top: 26px;

    
}
/* main related style  */
main{
    max-width: 1120px;
    margin: 0 auto;
}

/* dev related style  */

.dev-tittle{
    font-size: 32px;
    font-weight: 900px;
    /* text-align: center; */
}
.dev-description{
    /* text-align: center; */
    font-size: 16px;
    font-weight: 400px;
}
.development{
    margin: 215px;
    text-align: center;
    margin-left: 100px;
    margin-right: 115px;
}
/* .shared style  */
.text{
    text-align: center;
    padding: 97px;
}
.links{

}

.btn-goals{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600px;
    color: rgb(13, 19, 33);


}
.goals-tittle{
    font-size: 24px;
    font-weight: 700px;
    color:rgba(158, 169, 194, 0.7)

}
.goals-description{
    font-size: 16px;
    font-weight: 400px;
    color: rgb(13, 19, 33);

}


/* goals related style  */

.goals-content{
    display: flex;
   

}
.goals{
    /* max-width: 477px; */
    margin-left: 100px;
    margin-right: 115px;
}
  
/* inspiration styles  */

.inspiration-tittle{
    font-size: 32px;
    font-weight: 800px;

}
.inspiration-description{

    font-size: 16px;
    font-weight: 400px;
}
.ins-img{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    height: 650px;
    width: 1175px;

}
.ins2{
    margin: 80px;
}
.inspiration{
    text-align: center;
    /* padding: 50px; */
   
}
    
/* skill target style  */

.skill-container {
    display: flex;
    gap: 30px;
  
}
.skill{
    padding: 50px;
    /* margin: 24px; */
    border-radius: 16px;

    background: rgba(0, 76, 232, 0.05);
    
}
 .target{
    display:flex ;
    margin: 0px 25px;
    gap: 30px;
    
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    
   
 }
 .img-tar{
    width: 94.78px;
height: 84.41px;
/* padding-bottom: 11px; */
margin: 0px 25px;
 }
 .target-container{
   column-gap: 30px;
    
 }
 .target-description{
    padding: 40px;
 }

 .contact-info{
    display: flex;
    text-align: center;
justify-content: space-between;

 }
  .last{
    padding: 25px;
border-radius: 16px;

background: rgba(13, 19, 33, 0.03);}

/* suppot style  */

.btn-sub{
    border-radius: 8px;
   background: rgb(255, 255, 255);
   margin: 0px 16px;
   
}
  .sub-uni{
    text-align: center;
    border-radius: 16px;

background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),
    
  }
  .support{
    background-image: url(../assets/handshake.jpg);
    height: 315px;
    width: 1140px;
  }